.section-title {
    font-weight: 600;
    font-size: 6rem;
}

.section-subtitle {
    font-weight: 400;
    font-size: 1.5rem;
    opacity: 0.75;
}

.main-text {
    font-weight: 300;
    font-size: 1.5rem;
}

.btn-rounded {
    border-radius: 20px !important;
}

.badge-project {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 !important;
    border-top-left-radius: 0.75rem !important; /* Valore aumentato */
    border-bottom-right-radius: 0.75rem !important; /* Valore aumentato */
    z-index: 1;
    /* Aumentare le dimensioni */
    padding: 0.5rem 0.75rem !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
}

